@font-face {
  font-family: "CordaleCorp";
  src: url("../fonts/CordaleCorp-Regular.ttf");
  src: url("../fonts/CordaleCorp-Regular.woff") format("woff");
}
@font-face {
  font-family: "BerlingT";
  src: url("../fonts/BerlingNovaSans-Regular.ttf");
  src: url("../fonts/BerlingNovaSans-Regular.woff") format("woff");
}
body {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  font-family: "BerlingT", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.d-none {
  display: none;
}

main {
  overflow: hidden;
}

.heading-title {
  font-size: 80px;
  color: #ffffff;
  font-family: "CordaleCorp", Arial, sans-serif;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .heading-title {
    font-size: 40px;
  }
}

.anchor-arrow {
  padding: 15px 0 20px 0;
  display: inline-block;
  animation: floating 3s ease infinite;
}
.anchor-arrow svg {
  color: #ffffff;
  height: 35px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-5 {
  margin-bottom: 48px;
}

.py-thin {
  padding-top: 60px;
  padding-bottom: 60px;
}

.subtitle {
  font-family: "CordaleCorp", Arial, sans-serif;
  font-size: 90px;
  line-height: 80px;
  text-align: center;
  color: #B3995D;
  margin-top: 0;
}
@media (max-width: 480px) {
  .subtitle {
    font-size: 50px;
    line-height: 55px;
  }
}

.col-6 {
  width: 50%;
  display: inline-block;
}

.position-relative {
  position: relative;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}
.full-screen {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #9A9B9C;
}
#panels #panels-container .panel {
  background-image: url("../images/TheHeroArea.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: end;
  text-align: center;
}
#panels #panels-container .panel::before {
  content: "";
  background: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#panels #panels-container .panel .step-description {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  #panels #panels-container .panel .step-description {
    font-size: 14px;
  }
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel, #panels #panels-container .panel .nav-panel {
  color: #000000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

.mobile_slider-hero .panel {
  background-image: url("../images/TheHeroArea.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: end;
  text-align: center;
}
.mobile_slider-hero .panel::before {
  content: "";
  background: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.mobile_slider-hero .panel .container {
  position: relative;
}
.mobile_slider-hero .panel .step-description {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .mobile_slider-hero .panel .step-description {
    font-size: 14px;
  }
}
.mobile_slider-hero-column {
  position: relative;
}
.mobile_slider-hero .glider-dots {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
}
.mobile_slider-hero .glider-dots .glider-dot {
  border: 3.5px solid #ffffff;
  background: #ffffff;
  width: 15px;
  height: 15px;
  margin: 10px 8px;
}
.mobile_slider-hero .glider-dots .glider-dot.active {
  border: 3.5px solid #ffffff;
  background: #B3995D;
  width: 15px;
  height: 15px;
}

#map .subtitle {
  position: relative;
  z-index: 2;
  background: #fff;
}
#map .container-listing-carousel {
  min-height: 550px;
}

.swiper-container-wrapper {
  position: relative;
}
.swiper-container-wrapper .swiper-container .swiper-wrapper {
  display: flex;
}

.swiper-button-next, .swiper-button-prev {
  color: #000000;
}

.swiper-slide {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #ffffff;
  position: relative;
  display: flex !important;
  align-items: end;
}
.swiper-slide::before {
  content: "";
  background-color: #002664;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}
.swiper-slide .content_swiper {
  position: relative;
  padding: 25px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-slide .content_swiper .description {
  opacity: 0;
  transition: 0.4s ease 0.4s;
  color: #ffffff;
  font-size: 28px;
  font-family: "CordaleCorp", Arial, sans-serif;
}
.swiper-slide .content_swiper svg {
  color: #ffffff;
  font-size: 35px;
}
.swiper-slide-active .content_swiper .description {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.gallery-top {
  position: relative;
  width: 100%;
  height: 65vh;
}

@media (max-width: 991px) {
  .section_rotator .swiper-container-wrapper.carousel-rotator {
    display: none;
  }
}
.section_rotator .swiper-container-wrapper .content_swiper {
  background: #ffffff;
  padding: 0;
}
.section_rotator .swiper-container-wrapper .content_swiper .description {
  color: #000000;
}
.section_rotator .swiper-container-wrapper .content_swiper img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 100%;
  min-height: 350px;
  max-height: 350px;
}
.section_rotator .swiper-container-wrapper .content_swiper .img_item-products {
  position: relative;
}
@media (max-width: 991px) {
  .section_rotator .swiper-container-wrapper .content_swiper .img_item-products {
    width: 100%;
    margin-bottom: 25px;
  }
}
.section_rotator .swiper-container-wrapper .content_swiper .img_item-products:before {
  content: "";
  background-color: #002664;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
.section_rotator .swiper-container-wrapper .content_swiper .img_item-products .description_products {
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 40px;
  font-family: "CordaleCorp", Arial, sans-serif;
}
.section_rotator .swiper-container-wrapper .content_swiper .img_item-products .description_products span {
  padding-left: 25px;
}
.section_rotator .swiper-container-wrapper .content_swiper .img_item-products .description_products a {
  padding-right: 25px;
}
@media (max-width: 991px) {
  .section_rotator .swiper-container-wrapper .content_swiper .box-description {
    display: none;
  }
}
.section_rotator .swiper-container-wrapper .content_swiper .box-description .description-item {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #9A9B9C;
  opacity: 0;
  transition: opacity 0.3s ease 0.4s;
}
.section_rotator .swiper-container-wrapper .swiper-slide-active .box-description .description-item {
  opacity: 1;
  transition: opacity 0.3s ease 0.4s;
}
.section_rotator #insertListCounter {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 22%;
}
.section_rotator #insertListCounter .counter-slider {
  border-top: 1px solid #B3995D;
  display: inline-block;
}
.section_rotator #insertListCounter .counter-slider > span {
  font-size: 75px;
  font-style: italic;
  color: #002664;
}
.section_rotator #insertListCounter .counter-slider sub {
  vertical-align: -12px;
}
.section_rotator #insertListCounter .counter-slider sub span {
  font-size: 28px;
  font-style: italic;
  color: #002664;
}
.section_rotator #insertListCounter .counter-slider sub span:first-child {
  color: #B3995D;
  font-size: 37px;
}
.section_rotator .swiper-pagination.swiper-pagination-horizontal {
  position: absolute;
  top: 50%;
  left: 45%;
  width: auto;
}
.section_rotator .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet {
  display: block;
  margin: 5px 0;
  padding: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid #ffffff;
  background-clip: content-box !important;
  background-color: #9A9B9C !important;
}
.section_rotator .swiper-pagination.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  border: 2px solid #000000;
  background-color: #000000 !important;
}/*# sourceMappingURL=style.css.map */