@import './variables';

// global elements
@font-face {
  font-family: "CordaleCorp";
  src: url("../fonts/CordaleCorp-Regular.ttf");
  src: url("../fonts/CordaleCorp-Regular.woff") format("woff"),
}

@font-face {
  font-family: "BerlingT";
  src: url("../fonts/BerlingNovaSans-Regular.ttf");
  src: url("../fonts/BerlingNovaSans-Regular.woff") format("woff"),
}

body {
  background-color: $bodyColor;
  width: 100%;
  overflow-x: hidden;
  font-family: $primaryFont;
  font-size: $bodySize;
  margin: 0;
}

.d-none {
  display: none;
}

main {
  overflow: hidden;
}

.heading-title {
  font-size: $fs-2;
  color: $bodyColor;
  font-family: $secondaryFont;
  text-transform: capitalize;
  @media (max-width: $breakpoint-tablet) {
    font-size: $fs-4;
  }
}

.anchor-arrow {
  padding: 15px 0 20px 0;
  display: inline-block;
  animation: floating 3s ease infinite;
  svg {
    color: $bodyColor;
    height: 35px;
  }
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-5 {
  margin-bottom: 48px;
}

.py-thin {
  padding-top: 60px;
  padding-bottom: 60px; 
}

.subtitle {
  font-family: $secondaryFont;
  font-size: $fs-1;
  line-height: 80px;
  text-align: center;
  color: $primary;
  margin-top: 0;
  @media (max-width: $breakpoint) {
    font-size: $fs-3;
    line-height: 55px;
  }
}

.col-6 {
  width: 50%;
  display: inline-block;
}

.position-relative {
  position: relative;
}

@keyframes floating {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
  to {
      transform: translateY(0);
  }
}

// The Hero Area
.full-screen {
  display: block;
  @include setWH;
  overflow: hidden;
}

#panels {
  #panels-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    background-color: $light;

    .panel {
      background-image: url('../images/TheHeroArea.png');
      @include backgroundImage;
      position: relative;
      @include setWH;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: $black;
      justify-content: center;
      align-items: end;
      text-align: center;

      &::before {
        content: "";
        background: $black;
        opacity: 0.3;
        @include absolutePosition;
        z-index: -1;
      }

      .step-description {
        color: $bodyColor;
        font-size: $display-2;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        @media (max-width: $breakpoint-tablet) {
          font-size: $bodySize;
        }
      }

      .panels-navigation {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }

      .anchor-panel, .nav-panel {
        color: $black;
        text-transform: uppercase;
        margin-right: 2rem;
      }
    }

    .panels-navigation {
      position: absolute;
      width: 100%;
      bottom: 2rem;
      right: 2rem;
    }    
  }
}

.mobile_slider-hero {
  .panel {
    background-image: url('../images/TheHeroArea.png');
    @include backgroundImage;
    position: relative;
    width: 100%;
    height: 100vh!important;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: $black;
    justify-content: center;
    align-items: end;
    text-align: center;

    &::before {
      content: "";
      background: $black;
      opacity: 0.3;
      @include absolutePosition;
      z-index: 0;
    }

    .container {
      position: relative;
    }

    .step-description {
      color: $bodyColor;
      font-size: $display-2;
      font-weight: bold;
      line-height: 22px;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      @media (max-width: $breakpoint-tablet) {
        font-size: $bodySize;
      }
    }
  }

  &-column {
    position: relative;
  }

  .glider-dots {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    .glider-dot {
      border: 3.5px solid $bodyColor;
      background: $bodyColor;
      width: 15px;
      height: 15px;
      margin: 10px 8px;
      &.active {
        border: 3.5px solid $bodyColor;
        background: $primary;
        width: 15px;
        height: 15px;
      }
    }
  }
}

// Start Carousel Scroller
#map {
  .subtitle {
    position: relative;
    z-index: 2;
    background: #fff;
  }
  .container-listing-carousel {
    min-height: 550px;
  }
}

.swiper-container-wrapper {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      display: flex;
    }
  }
}

.swiper-button {
  &-next,
  &-prev {
    color: $black;
  }
}

.swiper-slide {
  text-align: center;
  @include backgroundImage;
  background-color: $bodyColor;
  position: relative;
  display: flex!important;
  align-items: end;
  &::before {
    content: "";
    background-color: $secondary;
    @include absolutePosition;
    opacity: 0.4;
  }
  .content_swiper {
    position: relative;
    padding: 25px 30px;
    width: 100%;
    @include dislayFlex($justify: space-between);
    .description {
      opacity: 0;
      transition: 0.4s ease 0.4s;
      color: $bodyColor;
      font-size: $fs-5;
      font-family: $secondaryFont;
    }
    svg {
      color: $bodyColor;
      font-size: 35px;
    }
  }
  &-active {
    .content_swiper {
      .description {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
      }
    }
  }
}

.gallery-top {
  position: relative;
  width: 100%;
  height: 65vh;
}


// Start Rotator
.section_rotator {
  .swiper-container-wrapper {
    &.carousel-rotator {
      @media (max-width: $breakpoint-tablet) {
        display: none;
      }
    }
    .content_swiper {
      background: $bodyColor;
      padding: 0;
      .description {
        color: $black;
      }
      img  {
        object-fit: contain;
        object-position: center center;
        @include setWH;
        min-height: 350px;
        max-height: 350px;
      }
      .img_item-products {
        position: relative;
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
          margin-bottom: 25px;
        }
        &:before {
          content: "";
          background-color: #002664;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0.3;
        }
        .description_products {
          position: absolute;
          bottom: 20px;
          color: $bodyColor;
          @include dislayFlex($justify: space-between);
          width: 100%;
          font-size: $fs-4;
          font-family: $secondaryFont;
          span {
            padding-left: 25px;
          }
          a {
            padding-right: 25px;
          }
        }
      }
      .box-description {
        @media (max-width: $breakpoint-tablet) {
          display: none;
        }
        .description-item {
          font-size: $display-1;
          line-height: 26px;
          text-align: center;
          color: $light;
          opacity: 0;
          transition: opacity 0.3s ease 0.4s;
        }
      }
    }
    .swiper-slide-active {
      .box-description {
        .description-item {
          opacity: 1;
          transition: opacity 0.3s ease 0.4s;
        }
      }
    }
  }
  #insertListCounter {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 22%;
    .counter-slider {
      border-top: 1px solid $primary;
      display: inline-block;
      > span {
        font-size: 75px;
        font-style: italic;
        color: $secondary;
      }
      sub {
        vertical-align: -12px;
        span {
          font-size: $fs-5;
          font-style: italic;
          color: $secondary;
          &:first-child {
            color: $primary;
            font-size: 37px;
          }
        }
      }
    }
  }

  .swiper-pagination {
    &.swiper-pagination-horizontal {
      position: absolute;
      top: 50%;
      left: 45%;
      width: auto;
      .swiper-pagination-bullet {
        display: block;
        margin:  5px 0;
        padding: 3px;
        width: 8px;
        height: 8px;
        border: 2px solid $bodyColor;
        background-clip: content-box!important;
        background-color: $light!important;
      }
      .swiper-pagination-bullet-active {
        border: 2px solid $black;
        background-color: $black!important;
      }
    }
  }
}







